.actual-body {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.actual__item {

    @include min576 {
        width: item-base(2, 24px);
        animation: double-pulse 6s linear infinite;
        animation-delay: calc(2s * var(--i));
    }

    @include min992 {
        width: item-base(3, 24px);
    }
}