.benefits__list {
    display: flex;
    flex-wrap: wrap;
    gap: rem(24px);
}

.benefits__item {
    position: relative;
    display: flex;
    overflow: hidden;
    width: item-base(2,24px);
    box-shadow: -8px -8px 20px #ffffff, 8px 8px 20px rgba(0, 0, 0, 0.05);

    @include min576 {
        flex-direction: column;
    }

    @include min768 {
        width: item-base(3,24px);
    }

    &::before {
        @include min576 {
            display: block;
            content: '';
            width: 100%;
            max-width: rem(390px);
            height: rem(190px);
            background-color: var(--divider-color);
            border-top-right-radius: 5px 5px;
            border-top-left-radius: 5px 5px;
        }
    }
}

@include min576 {
    .benefits__item::before {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .benefits__item.benefits-quality::before {
        background-image: url('../img/benefits/quality.jpg');
    }
    
    .benefits__item.benefits-value::before {
        background-image: url('../img/benefits/value.jpg');
    }
    
    .benefits__item.benefits-cooperation::before {
        background-image: url('../img/benefits/cooperation.jpg');
    }
    
    .benefits__item.benefits-laboratory::before {
        background-image: url('../img/benefits/laboratory.jpg');
    }
    
    .benefits__item.benefits-consultation::before {
        background-image: url('../img/benefits/consultation.jpg');
    }
    
    .benefits__item.benefits-support::before {
        background-image: url('../img/benefits/support.jpg');
    }
}

.benefits__text {
    min-height: rem(75px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: rem(6px) rem(12px);
    font-size: rem(16px);

    @include max767 {
        background-color: var(--light-primary-color);
    }

    @include min576-max1199 {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.7);
        bottom: 0;
        left: 0;
    }

    @include min768 {
        font-size: rem(18px);
        background-color: var(--white-color);
    }

    @include min1200 {
        border: 1px solid var(--divider-color);
        border-top: none;
    }
}