.contacts__block {
  display: flex;
  gap: rem(24px);
  
  @include max767 {
    flex-wrap: wrap;
  }

  @include min768 {
    margin-bottom: rem(48px);
  }
}

.contacts__wrap {
  width: 100%;

  @include min768 {
    width: item-base(2, 24px);
  }
}

.information-contacts {
  font-style: normal;
}

.information-contacts__head {

  &:not(:last-child) {
    margin-bottom: rem(24px);

    @include min768 {
      margin-bottom: rem(48px);
    }
  }
}

.information-contacts__title {
  text-align: center;
  color: var(--dark-primary-color);
  font-weight: 500;
  font-size: rem(18px);
  margin-bottom: rem(12px);

  @include min768 {
    margin-bottom: rem(24px);
    font-size: rem(24px);
  }
}

.information-contacts__address {

  @include max767 {
    text-align: center;
  }

  @include min768 {
    font-size: rem(20px);
  }
}

.contacts__boxes {
  display: flex;
  flex-wrap: wrap;
  column-gap: rem(24px);
  row-gap: rem(24px);

  @include min768 {
    row-gap: rem(48px);
  }
}

.contacts__box {
  width: item-base(2, 24px);
}

.information-contacts__subtitle {
  font-weight: 500;
  font-size: rem(16px);
  margin-bottom: rem(12px);

  @include min768 {
    font-size: rem(20px);
    margin-bottom: rem(24px);
  }
}

.information-contacts__phone,
.information-contacts__mail {
  transition: color .3s ease;

  @include min768 {
    font-size: rem(18px);
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.phone-brands {
  display: flex;
  gap: rem(12px);
}

.phone-brand__icon {
  &::before {
    font-size: 20px;
  }
}

.viber-color {
  color: #665cac;
}

.whatsapp-color {
  color: #25d366;
}

.contacts__decor {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: rem(12px);

  @include max767 {
    display: none;
  }
}

.contacts__decor-action {
  position: relative;
  padding-top: 15%;
  width: 100%;
}

.contacts__decor-action-img {
  position: absolute;
  max-width: 600px;
  height: 100%;
  mix-blend-mode: darken;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  object-fit: contain;
}

.contacts__decor-robot {
  mix-blend-mode: darken;
  max-width: 220px;
}

.card-map {
  width: 100%;
  height: rem(350px);
  background-color: var(--light-divider-color);

  @include min768 {
    height: rem(450px);
  }
}