.fag {
  display: flex;
  flex-direction: column;
  row-gap: rem(28px);
}

.fag-top__section {
  padding-top: rem(12px);
  padding-bottom: rem(12px);
}

.fag-top__section.fix {
  position: fixed;
  width: 100%;
  top: rem(12px);
  left: 0;
  background-color: rgba(255,255,255, 0.90);
  z-index: 2;

  .fag-top__button {
    box-shadow: 0 3px 1px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.08), 0 2px 2px rgba(0,0,0,.12);
  }
}

.fag-top__container {
  display: flex;
  justify-content: flex-end;
}

.fag__section.section {
  padding-top: 0;
}

.fag__question {
  color: var(--dark-primary-color);
  padding: 5px;
  background-color: var(--light-primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  column-gap: rem(24px);
  cursor: pointer;

  @include min768 {
    padding: rem(12px) rem(16px);
    font-size: rem(18px);
  }

  &::before {
    transition: transform 0.3s ease;
  }

  &.button-active {
    &::before {
      transform: rotate(-180deg);
    }
  }
}

.fag__wrap {
  padding-right: rem(10px);
  padding-left: rem(10px);

  @include min768 {
    padding-right: rem(16px);
    padding-left: rem(16px);
  }

  &.content-open {
    padding-top: rem(10px);
    padding-bottom: rem(10px);
  }
}

.fag-top__button {
  max-width: rem(180px);
}

.fag__answer {
  position: relative;
  
  &::before {
    display: block;
    content: '';
    float: left;
    width: rem(60px);
    height: rem(40px);
    margin-right: rem(10px);
    margin-bottom: rem(10px);
    background-image: url('../img/backgrounds/faq-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include min576 {
      width: rem(120px);
      height: rem(80px);
    }

    @include min768 {
      width: rem(150px);
      height: rem(100px);
      margin-right: rem(24px);
      margin-bottom: rem(24px);
    }
  }
}

.fag__text {
  &:not(:last-child) {
    margin-bottom: 7px;
  }
}

.fag__subheader {
  font-weight: bold;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: rem(12px);
}

.popup-faq__item.form-block__item {
  width: 100%;
}

.popup-faq__textarea {
  width: 100%;
}

.popup-faq__textarea.form-block__textarea {
  margin-bottom: rem(16px);
}

.popup-faq__button {
  max-width: rem(270px);
}