.footer-main {
    padding-top: rem(24px);
    padding-bottom: rem(24px);
    background-image: url('../img/backgrounds/oblique-lines-bg.svg');
    background-repeat: no-repeat;
    background-position: bottom center;

    &__container {
        display: flex;
        flex-direction: column;
        row-gap: rem(48px);

        @include min576 {
            align-items: center;
        }
        
        @include min768 {
            flex-direction: row;
            align-items: baseline;
            justify-content: space-between;
            column-gap: rem(24px);
        }
    }

    @include min768 {
        padding-top: rem(64px);
        padding-bottom: rem(32px);
    }
}

.footer__logo {
    font-size: rem(22px);

	@include min576 {
		font-size: rem(26px);
	}

	@include min768 {
		font-size: rem(30px);
	}
}

.footer-main__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    row-gap: 48px;

    @include min576 {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.footer-menu__list {

    .emphasis::after,
    .link-active::after {
        background-color: var(--main-text-color);
    }
}

.footer-menu__item {
    &:not(:last-child) {
        margin-bottom: rem(12px);
    }
}

.footer-menu__link {
    padding-bottom: 5px;
    font-size: 16px;
}

.footer-main__address {
    font-style: normal;
    width: 100%;

    @include min576 {
        max-width: rem(220px);
    }
}

.address__item:not(:last-child) {
    margin-bottom: rem(12px);
}

.address__link {
    display: inline-flex;
    align-items: center;
    transition: color .3s ease;

    &:focus {
        color: var(--accent-color);
    }

    @include any-hover {
        &:hover {
            color: var(--accent-color);
        }
    }

    &::before {
        margin-right: 10px;
    }
}

.footer-bottom {
    background-color: var(--primary-color);
    padding-top: 16px;
    padding-bottom: 16px;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--white-color);

        @include max575 {
            font-size: rem(14px);
        }
    }
}

.footer__slogan {
    font-size: rem(20px);

    @include min576-max767 {
        text-align: center;
    }
}

.footer__subslogan {
    font-size: rem(18px);
}

.footer {
    .slogan-box {
        max-width: rem(350px);
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: rem(16px);
    }
}