.header {
    position: relative;
    border-bottom: 1px solid var(--divider-color);

    @include max767 {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: var(--white-color);
        z-index: 5;
    }

    &__container {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

.header.nav-fix {
    @include min768 {
        .header-main {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 5;
        }

        .header__top {
            transform: scale(0);
        }
    }
}

.header__logo {
    position: relative;
    z-index: 5;
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(16px);
    flex-direction: column;

    @include min768 {
        gap: rem(24px);
        flex-direction: row;
        transform: scale(1);
        transition: transform 0.3s ease;
    }
}

.header__top-inner {
    @include max767 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        z-index: 5;
        background-color: #fff;
        top: 0;
        left: 0;
        width: 100%;
        padding: 15px;
    }
}

.header__actions {
    display: flex;
    gap: rem(12px);
    width: 100%;

    @include min576 {
        gap: rem(24px);
    }

    @include min768 {
        width: auto;
    }

    @include max767 {
        padding-top: 58px;
    }
}

.actions-header__contacts {
    display: flex;
    align-items: baseline;
    gap: rem(10px);
    flex: 1 1 auto;
    justify-content: flex-start;
    flex-wrap: wrap;

    @include min576 {
        gap: rem(24px);
    }

    @include min768 {
        justify-content: flex-end;
    }
}

.contacts__list {
    display: flex;
    flex-direction: column;
    gap: rem(10px);

    @include min576 {
        gap: rem(12px);
    }
}

.contacts__link,
.contacts__email {
    display: inline-flex;
    align-items: center;
    transition: color 0.3s ease;
    
    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    &::before {
        margin-right: 5px;
        padding-top: 3px;

        @include min576 {
            margin-right: 10px;
        }
    }

    @media (max-width: 390px) {
        font-size: 13px;
    }
}

.contacts__email::before {
    padding-top: 4px;
}

.actions-header__languages {
    display: flex;
    flex-direction: column;
    gap: rem(12px);
}

.languages__link {
    text-transform: uppercase;
    transition: color 0.3s ease;

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    @media (max-width: 390px) {
        font-size: 13px;
    }
}

.header-main {
    position: relative;
    background-color: var(--primary-color);
}

.navigation {
    @include max767 {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: var(--white-color);
        transition: transform 0.8s ease, opacity 0.8s ease, visibility 0.8s ease;
        padding: 60px 15px 15px;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: translateX(-101%);
        overflow-y: auto;
        z-index: 4;
    }

    @include min768 {
        min-height: rem(54px);
        display: flex;
        align-items: center;
    }
}

.navigation.open {
    @include max767 {
        transform: translateX(0);
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }
}

.navigation__list {

    @include min768 {
        display: flex;
        flex-direction: row;
        column-gap: rem(32px);
    }
      
}

.navigation__item {
    position: relative;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 5px 0;
    
    flex-wrap: wrap;

    @include any-hover {
        &:hover {
            .submenu-list {
                transform: translate(0,0);
                visibility: visible;
                pointer-events: auto;
                opacity: 1;
            }

            & > .submenu-button::before {
                transform: rotate(-180deg);
            }
        }
    }

    @include min768 {
        margin: 0 3px;

        &._hover {
            .submenu-list {
                transform: translate(0,0);
                visibility: visible;
                pointer-events: auto;
                opacity: 1;
            }

            & > .submenu-button::before {
                transform: rotate(-180deg);
            }
        }
    }
}

.navigation__link {
    display: inline-flex;
    font-size: rem(20px);
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: 500;

    @include min768 {
        font-weight: normal;
        font-size: rem(18px);
        color: var(--white-color);
    }
}

.submenu-button {
    width: rem(40px);
    height: rem(40px);

    &::before {
        transition: transform 0.3s ease;
        font-size: 20px;
    }

    @include min768 {
        width: rem(25px);
        height: rem(25px);
        margin-left: 7px;
        color: var(--white-color);

        &::before {
            font-size: 14px;
        }
    }

    @include max767 {
        &.button-active {
            &::before {
                transform: rotate(-180deg);
            }
        }
    }
}

.submenu-list {
    position: relative;
    flex: 1 1 100%;

    @include max767 {
        padding-left: rem(20px);
        // padding-top: rem(15px);
    }

    @include min768 {
        min-width: rem(240px);
        background-color: var(--primary-color);
        position: absolute;
        left: 0;
        top: 100%;
        padding: rem(10px) 0;
        transform: translate(0,20px);
        visibility: hidden;
        pointer-events: none;
        opacity: 0;
        transition: opacity .3s ease, transform .3s ease, visibility .3s ease;
        box-shadow: 0 8px 8px rgb(0 0 0 / 25%), 0 0 2px rgb(0 0 0 / 25%);
        z-index: 5;
    }
}

.submenu-list__item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;

    @include any-hover {
        &:hover {
            .sub-submenu-list {
                transform: translate(0,0);
                visibility: visible;
                pointer-events: auto;
                opacity: 1;
            }

            & > .submenu-button::before {
                transform: rotate(-90deg);
            }
        }
    }

    @include min768 {
        padding: 0 rem(10px);

        &._hover {
            .sub-submenu-list {
                transform: translate(0,0);
                visibility: visible;
                pointer-events: auto;
                opacity: 1;
            }

            & > .submenu-button::before {
                transform: rotate(-90deg);
            }
        }
    }

    @include max767 {
        padding-left: rem(10px);
        border-left: 1px solid var(--accent-color);
    }
}

.sub-submenu-list__item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;

    @include any-hover {
        &:hover {
            .double-submenu-list {
                transform: translate(0,0);
                visibility: visible;
                pointer-events: auto;
                opacity: 1;
            }

            & > .submenu-button::before {
                transform: rotate(-90deg);
            }
        }
    }

    @include min768 {
        padding: 0 rem(10px);

        &._hover {
            .double-submenu-list {
                transform: translate(0,0);
                visibility: visible;
                pointer-events: auto;
                opacity: 1;
            }

            & > .submenu-button::before {
                transform: rotate(-90deg);
            }
        }
    }

    @include max767 {
        padding-left: rem(10px);
        border-left: 1px solid var(--accent-color);
    }
}

.sub-submenu-list,
.double-submenu-list {
    @include max767 {
        padding-left: rem(20px);
    }
}

.sub-submenu-list__item,
.double-submenu-list__item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;

    @include max767 {
        padding-left: rem(10px);
        border-left: 1px solid var(--accent-color);
    }

    @include min768 {
        padding: 0 rem(10px);
    }
}

.submenu-list__link,
.sub-submenu-list__link,
.double-submenu-list__link {
    padding: 5px 0;
    line-height: 1.5;

    @include min768 {
        color: var(--white-color);
        font-size: rem(16px);
    }
}

.submenu-list__link {
    @include max767 {
        font-size: rem(18px);
    }
}

.sub-submenu-list__link {
    @include max767 {
        font-size: rem(18px);
    }
}

.sub-submenu-list {
    position: relative;
    flex: 1 1 100%;

    @include min768 {
        min-width: rem(220px);
        background-color: var(--primary-color);
        position: absolute;
        left: 100%;
        // bottom: 0;
        padding: rem(10px) 0;
        transform: translate(0,20px);
        visibility: hidden;
        pointer-events: none;
        opacity: 0;
        transition: opacity .3s ease, transform .3s ease;
        box-shadow: 0 8px 8px rgb(0 0 0 / 25%), 0 0 2px rgb(0 0 0 / 25%);
        z-index: 5;
    }
}

.double-submenu-list {
    position: relative;
    flex: 1 1 100%;

    @include min768 {
        min-width: rem(200px);
        background-color: var(--primary-color);
        position: absolute;
        left: 100%;
        bottom: 0;
        padding: rem(10px) 0;
        transform: translate(0,20px);
        visibility: hidden;
        pointer-events: none;
        opacity: 0;
        transition: opacity .3s ease, transform .3s ease;
        box-shadow: 0 8px 8px rgb(0 0 0 / 25%), 0 0 2px rgb(0 0 0 / 25%);
        z-index: 5;
    }
}

.submenu__wrap {
    // display: grid;
    // grid-template-rows: 0fr;
    // transition: 1s;
    // overflow: hidden;
    width: 100%;
}

.submenu__wrap .inside {
    // min-height: 0;
}

.submenu__wrap.content-open {
    // grid-template-rows: 1fr;

    @include max767 {
        padding-top: rem(15px);
    }
}

// Button menu

.menu-button {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(0.8);
    z-index: 5;
    cursor: pointer;

    @include min768 {
        display: none;
    }
}

.stick {
    width: 40px;
    height: 4px;
    border-radius: 2px;
    background-color: currentColor;
    display: inline-block;
}

.stick:not(:last-child) {
    margin-bottom: 7.5px;
}

.menu-button.open .stick-1 {
    animation: stick-1-open .6s ease-out forwards;
}

.menu-button.open .stick-2 {
    animation: stick-2-open .6s linear forwards;
}

.menu-button.open .stick-3 {
    animation: stick-3-open .6s linear forwards;
}

@keyframes stick-1-open {
    0% {
        width: 20px;
    }

    40% {
        background-color: var(--accent-color);
        width: 4px;
        transform: translate(20px, 0px);
    }

    75%,
    80% {
        width: 4px;
        transform: translate(20px, -25px);
        animation-timing-function: cubic-bezier(0, 1, 1, 1);
    }

    100% {
        background-color: var(--accent-color);
        width: 4px;
        transform: translate(17.5px, 23px);
    }
}

@keyframes stick-2-open {
    80% {
        background-color: currentColor;
        transform: translate(0px, 0px) rotate(0deg);
    }

    100% {
        background-color: var(--accent-color);
        transform: translate(4px, 0px) rotate(40deg);
    }
}

@keyframes stick-3-open {
    80% {
        background-color: currentColor;
        transform: translate(0px, 0px) rotate(0deg);
    }

    100% {
        background-color: var(--accent-color);
        transform: translate(4px, -11.5px) rotate(-40deg);
    }
}

.menu-button.close .stick-1 {
    width: 8px;
    transform: translate(13.5px, 13px);
    animation: stick-1-close .6s ease-out forwards;
}

.menu-button.close .stick-2 {
    transform: translate(0px, 0px) rotate(40deg);
    animation: stick-2-close .6s ease-out forwards;
}

.menu-button.close .stick-3 {
    transform: translate(0px, -11.5px) rotate(-40deg);
    animation: stick-3-close .6s ease-out forwards;
}

@keyframes stick-1-close {

    0%,
    70% {
        width: 0px;
    }

    100% {
        width: 40px;
        transform: translate(0, 0);
    }
}

@keyframes stick-2-close {
    0% {
        background-color: var(--accent-color);
        width: 40px;
    }

    20% {
        background-color: var(--accent-color);
        width: 4px;
        transform: translate(0, 0px) rotate(40deg);
    }

    40% {
        background-color: currentColor;
        width: 0px;
    }

    65% {
        transform: translate(0, -35px);
        animation-timing-function: cubic-bezier(0, 1, 1, 1);
    }

    80% {
        width: 0px;
    }

    100% {
        width: 40px;
        transform: translate(0, 0px);
    }
}

@keyframes stick-3-close {
    0% {
        background-color: var(--accent-color);
        width: 40px;
    }

    20% {
        background-color: var(--accent-color);
        width: 4px;
        transform: translate(0, -11.5px) rotate(-40deg);
    }

    40% {
        background-color: currentColor;
    }

    65% {
        transform: translate(0, -46.5px);
        animation-timing-function: cubic-bezier(0, 1, 1, 1);
    }

    90% {
        width: 4px;
    }

    100% {
        width: 40px;
        transform: translate(0, 0px);
    }
}