// .hero {
//   background: linear-gradient(45deg,rgba(18,18,20,0.7),rgba(18,18,20,.7)),
//      url(../img/backgrounds/hero-bg.jpg) no-repeat 0% 10%/cover var(--secondary-text);
//   display: flex;
//   align-items: center;

//   @include min992 {
//     height: calc(100vh - 149px);
//   }
// }

.hero {
  background-image: url('../img/backgrounds/hero-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;

  @include min992 {
    flex-direction: row;
  }
}

.hero__content {
  max-width: rem(550px);
  margin: 0 auto;
  color: var(--light-divider-color);

  @include min768 {
    max-width: rem(650px);
  }
}

.hero__title {
  font-weight: 700;
  letter-spacing: 0.03em;
  // color: var(--accent-color);
}

.hero__subtitle {
  text-align: center;
  font-size: rem(20px);
  line-height: 1.2;
  font-weight: 400;

  @include min768 {
    font-size: rem(20px);
  }

  @include min992 {
    font-size: rem(28px);
  }

  &:not(:last-child) {
    margin-bottom: rem(16px);

    @include min768 {
      margin-bottom: rem(20px);
    }
  }
}

.hero__undertitle {
  margin: 0 auto;
  text-align: center;
  font-size: rem(18px);

  @include min768 {
    font-size: rem(20px);
  }

  @include min992 {
    font-size: rem(22px);
  }
}

.hero__images {
  display: flex;
  border: 1px solid var(--accent-color);
  max-width: 280px;
  width: 100%;
  height: 188px;

  @include min576 {
    max-width: 420px;
    width: 100%;
    height: 272px;
  }
}

.images-hero__item {
  position: relative;
  background-color: var(--light-divider-color);
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 280px;
  height: 186px;

  @include min576 {
    max-width: 420px;
    height: 270px;
  }
}

.images-hero__item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
}

.swiper.hero-swiper {
  max-width: 280px;
  width: 100%;
  height: 186px;

  @include min576 {
    max-width: 420px;
    width: 100%;
    height: 270px;
  }
}