.hero-actions__container {
  display: flex;
  flex-direction: column;
  row-gap: rem(12px);

  @include min768 {
    row-gap: rem(26px);
  }
}

.hero-actions__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: rem(24px);
  row-gap: 5px;
}

.hero-actions__condition {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: rem(24px);
  padding: 5px 0;
  margin-left: 3px;
  margin-right: 3px;
}

.condition__button {
  padding: 5px 0;
  font-size: 13px;
  font-family: var(--main-font);

  @include min768 {
    font-size: 14px;
  }
}

.informational__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: rem(10px);
  row-gap: rem(12px);

  @include min576 {
    justify-content: center;
  }
}

.page__title {
  max-width: rem(600px);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: rem(30px);
}

