.hero-actions__breadcrumb {
  margin-bottom: rem(20px);

  @include min768 {
    margin-bottom: rem(26px);
  }
}

.page__title {
  max-width: rem(600px);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: rem(30px);
}