.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);

    &__close {
        position: absolute;
        top: rem(10px);
        right:rem(10px);
        font-size: rem(24px);
        border: none;
        background-color: transparent;
        width: rem(40px);
        height: rem(40px);
        border-radius: 3px;
        transition: background-color 0.3s ease;
        cursor: pointer;

        &:hover,
        &:focus {
            background-color: var(--light-primary-color);
            
            &::before {
                transform: rotate(180deg);
                color: var(--accent-color);
            }
        }

        &::before {
            color: var(--main-text-color);
            transition: transform 0.3s ease 0s, color 0.3s ease 0s;
        }
    }

    &__wrap {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        padding-top: rem(12px);
        padding-bottom: rem(12px);

        @include min576 {
            align-items: center;
        }
    }

    &__inner {
        width: 95%;
        height: 100%;
        overflow-y: auto;

        @include min768 {
            max-width: rem(650px);
            width: 100%;
        }
    }

    &__body {
        position: relative;
        background-color: var(--white-color);
        padding: rem(40px) rem(24px) rem(24px);
    }
}

.form-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    &__title {
        font-size: 1.8rem;
        font-weight: 700;
        color: var(--main-text-color);
        line-height: 1.5;
    }

    &__control {
        display: block;
        width: 100%;
        font-size: 14px;
        line-height: 1.43;
        color: var(--secondary-text);;
        height: rem(48px);
        padding: 0;
        text-align: center;
        border-radius: 5px;
        background-color: #fff;
        background-image: none;
        border: 1px solid var(--divider-color);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

        &:focus,
        &:hover {
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), 0 0 8px rgba(#2196f3, 0.6);
            border-color: var(--accent-color);
            outline: 0;
        }
    }

    &__notice {
        color: var(--secondary-text);
    }
}



