.product-unit.section {
  padding-top: 0;
}

.product-unit__title {
  max-width: 37.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.875rem;
}

.product-unit__head {
  text-align: center;
  color: var(--dark-primary-color);
  font-weight: 500;
}

.product-unit__wrap {
  display: flex;
  flex-direction: column;
  row-gap: rem(20px);

  @include min576 {
    row-gap: rem(24px);
  }

  @include min768 {
    row-gap: rem(40px);
  }
}

.product-unit__block {
  display: flex;
  column-gap: rem(12px);
  row-gap: rem(12px);

  @include max767 {
    flex-wrap: wrap;
  }

  @include min992 {
    column-gap: rem(24px);
  }
}

.product-unit__inner {
  
  @include max767 {
    width: 100%;
  }
}

.product-unit__box {
  width: 100%;

  @include min768 {
    width: item-base(2, 24px);
  }
}

.product-unit__wrap-img {
  width: rem(350px);
  height: rem(350px);
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  border: 1px solid rgba(#757575, 0.55);
  background-image: url('../img/backgrounds/hexagons-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  // @include min576 {
  //   width: rem(350px);
  //   height: rem(350px);
  // }

  @media (max-width: 380px) {
    width: rem(290px);
    height: rem(290px);
  }

  @include min992 {
    padding: rem(10px);
  }
}

.product-unit__img {
  mix-blend-mode: darken;
  object-fit: cover;
}

.product-unit__characteristics {
  display: flex;
  flex-direction: column;
  row-gap: rem(14px);

  @include min992 {
    row-gap: rem(18px);
  }
}

.product-unit__characteristics-item {
  display: flex;

  @include min992 {
    &:not(:last-child) {
      margin-bottom: rem(10px);
    }
  }
}

.product-unit__characteristics-sublist {
  flex: 0 0 100%;
  margin-left: rem(30px);
}

.product-unit__characteristics-subitem,
.product-unit__characteristics-item__text {
  @include min992 {
    &:not(:last-child) {
      margin-bottom: rem(10px);
    }
  }
}

.product-unit__descr-txt {
  @include min768 {
    font-size: 20px;
  }

  &:not(:last-child) {
    margin-bottom: rem(12px);
  }
}

.product-unit__descr-text {
  &:not(:last-child) {
    margin-bottom: rem(12px);
  }
}

.product-unit__param-list {
  background-color: var(--light-divider-color);
  padding: 5px;

  @include min576 {
    padding: rem(12px);
  }
}

.param-list__item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: rem(12px);

  @include min576 {
    font-size: rem(14px);
  }

  &:not(:last-child) {
    margin-bottom: 5px;
  }

  &::before {
    content: "";
    height: 1px;
    min-width: rem(30px);
    background-color: var(--divider-color);
    flex-grow: 1;
    margin-left: rem(4px);
    margin-right: rem(4px);

    @include min576 {
      margin-left: rem(12px);
      margin-right: rem(12px);
      min-width: rem(40px);
    }
  }
}

.param-list__name {
  order: -1;
  flex: 0 0 auto;
}

.product-unit__descr-text_accent {
  color: var(--accent-color);
  text-align: center;
}

.product-unit__inner-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: rem(12px);
  column-gap: rem(12px);

  @include min576 {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .product-unit__button {
    margin: 0;
  }
}

.product-unit__price {
  color: var(--accent-color);
  font-size: rem(24px);
  flex: 0 0 auto;
}

.gallery-top__slide {
  padding: 5px;
  border: 1px solid rgba(#757575, 0.55);
  background-image: url('../img/backgrounds/hexagons-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--light-primary-color);

  @include min992 {
    padding: rem(10px);
  }
}

.gallery-thumbs__slide {
  border: 1px solid var(--secondary-text);
}

.gallery-top__img {
  mix-blend-mode: darken;
  object-fit: cover;

  @include max767 {
    max-height: 350px;
  }
}

.swiper-slide.gallery-thumbs__slide {
  background-color: var(--light-divider-color);
}

.gallery-thumbs__img {
  mix-blend-mode: darken;
  width: rem(50px);
  height: rem(50px);
  
  @include min576 {
    width: rem(65px);
    height: rem(65px);
  }

  @include min768 {
    width: rem(75px);
    height: rem(75px);
  }
}

.product-unit__button {
  margin-left: auto;
  margin-right: auto;
  max-width: 16.875rem;
}

.quality-mark {
  display: flex;
  align-items: center;
  column-gap: rem(24px);
  justify-content: center;

  &__item {
    width: rem(50px);
    height: rem(50px);
    padding: 5px;

    @include min768 {
      width: rem(60px);
      height: rem(60px);
    }
  }
}

.product-spares__title {
  margin-bottom: rem(18px);
}

.product-spares__list {
  &:not(:last-child) {
    margin-bottom: rem(24px);
  }
}

.product-spares__item {
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.product-spares__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  border: 1px solid var(--divider-color);
  background-color: transparent;
  transition: border-color 0.3s ease, background-color 0.3s ease;

  &:hover,
  &:focus {
    border-color: var(--accent-color);
    background-color: var(--light-primary-color);
  }
}

.product-spares__img {
  width: rem(90px);
  height: rem(90px);
  mix-blend-mode: darken;
}

.product-unit__list,
.product-unit__item {
  font-weight: 500;

  &:not(:last-child) {
    margin-bottom: rem(7px);
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.gallery-top {
  width: 100%;
  max-height: rem(350px);
  max-width: rem(350px);

  @include min992 {
    max-height: rem(400px);
    max-width: rem(400px);
  }
}

.gallery-thumbs {
  max-height: 105px;
  padding: 10px 0;
  max-width: rem(350px);

  @include min992 {
    max-width: rem(400px);
  }
}

.gallery-thumbs .swiper-slide {
  width: calc((100% - 30px) / 4);
  height: 100%;
  opacity: 0.55;
}

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.gallery-thumbs .gallery-thumbs__slide.swiper-slide-thumb-active {
  border: 1px solid var(--accent-color);
}

.gallery-top .swiper-button-next::after,
.gallery-top .swiper-button-prev::after {
  content: none;
}

.gallery-top .swiper-button-next::before,
.gallery-top .swiper-button-prev::before {
  font-size: rem(30px);
}

.gallery-top .swiper-button-next,
.gallery-top .swiper-button-prev {
  width: rem(40px);
  height: rem(40px);
  color: var(--accent-color);
  background-color: var(--light-divider-color);
}

.gallery-top .swiper-pagination {
  color: var(--accent-color);
  background-color: var(--light-divider-color);
  padding: 5px;
  width: rem(40px);
  height: rem(30px);
  left: 50%;
  transform: translateX(-50%);
}

.gallery-thumbs .swiper-button-next::after,
.gallery-thumbs .swiper-button-prev::after {
  content: none;
}

.gallery-thumbs .swiper-button-next,
.gallery-thumbs .swiper-button-prev {
  width: rem(20px);
  height: rem(20px);
  color: var(--accent-color);
  background-color: var(--light-divider-color);
  transform: translateY(50%);
}

.gallery-thumbs .swiper-button-next::before,
.gallery-thumbs .swiper-button-prev::before {
  font-size: rem(20px);
}

.product-unit__video {
  display: flex;
  align-items: center;

  @include max767 {
    justify-content: center;
  }
}

.video-product__wrap {
  position: relative;
  max-width: rem(500px);
  width: 100%;
  height: rem(270px);
}

.silencers__video-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url('../img/backgrounds/video-bg-silencers.jpg');
}

.travel-filter__video-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url('../img/backgrounds/video-bg-travel-filter.jpg');
}

.video-product__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: rem(60px);
  height: rem(60px);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.video-product__play-btn {
  font-size: rem(60px);
  color: var(--white-color);
}
