.product-unit.section {
  padding-top: 0;
}

.product-unit__title {
  max-width: 37.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.875rem;
}

.product-unit__head {
  text-align: center;
  color: var(--dark-primary-color);
  font-weight: 500;
}

.product-unit__wrap {
  display: flex;
  flex-direction: column;
  row-gap: rem(48px);
}

.product-unit__block {
  display: flex;
  gap: rem(24px);
  flex-wrap: wrap;
}

.product-unit__box {
  width: 100%;

  @include min768 {
    width: item-base(2, 24px);
  }
}

.product-unit__characteristics {
  display: flex;
  flex-direction: column;
  row-gap: rem(14px);

  @include min992 {
    row-gap: rem(18px);
  }
}

.product-unit__characteristics-item {
  display: flex;

  @include min992 {
    &:not(:last-child) {
      margin-bottom: rem(10px);
    }
  }
}

.product-unit__characteristics-sublist {
  flex: 0 0 100%;
  margin-left: rem(30px);
}

.product-unit__characteristics-subitem,
.product-unit__characteristics-item__text {
  @include min992 {
    &:not(:last-child) {
      margin-bottom: rem(10px);
    }
  }
}

.product-unit__descr-text {
  @include min768 {
    font-size: 20px;
  }

  &:not(:last-child) {
    margin-bottom: rem(12px);
  }
}

.gallery-top__slide {
  padding: rem(10px);
  border: 1px solid rgba(#757575, 0.55);
  background-image: url('../img/backgrounds/hexagons-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--light-primary-color);
}

.gallery-thumbs__slide {
  border: 1px solid var(--secondary-text);
}

.gallery-top__img {
  mix-blend-mode: darken;
  object-fit: cover;

  @include max767 {
    max-height: 350px;
  }
}

.swiper-slide.gallery-thumbs__slide {
  background-color: var(--light-divider-color);
}

.gallery-thumbs__img {
  mix-blend-mode: darken;
  width: rem(50px);
  height: rem(50px);
  
  @include min576 {
    width: rem(65px);
    height: rem(65px);
  }

  @include min768 {
    width: rem(85px);
    height: rem(85px);
  }
}

.product-unit__button {
  margin-left: auto;
  margin-right: auto;
  max-width: 16.875rem;
}

.quality-mark {
  display: flex;
  align-items: center;
  column-gap: rem(24px);
  justify-content: center;

  &__item {
    width: rem(50px);
    height: rem(50px);
    padding: 5px;

    @include min768 {
      width: rem(60px);
      height: rem(60px);
    }
  }
}

.product-spares__title {
  margin-bottom: rem(18px);
}

.product-spares__list {
  &:not(:last-child) {
    margin-bottom: rem(24px);
  }
}

.product-spares__item {
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.product-spares__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  border: 1px solid var(--divider-color);
  background-color: transparent;
  transition: border-color 0.3s ease, background-color 0.3s ease;

  &:hover,
  &:focus {
    border-color: var(--accent-color);
    background-color: var(--light-primary-color);
  }
}

.product-spares__img {
  width: rem(90px);
  height: rem(90px);
  mix-blend-mode: darken;
}

.product-unit__list,
.product-unit__item {
  font-weight: 500;

  &:not(:last-child) {
    margin-bottom: rem(7px);
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.gallery-top {
  height: 80%;
  width: 100%;

  @include min768-max991 {
    height: 60%;
  }
}

.gallery-thumbs {
  height: 20%;
  padding: 10px 0;

  @include min768-max991 {
    height: 18%;
  }
}

.gallery-thumbs .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.55;
}

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.gallery-thumbs .gallery-thumbs__slide.swiper-slide-thumb-active {
  border: 1px solid var(--accent-color);
}

.gallery-top .swiper-button-next::after,
.gallery-top .swiper-button-prev::after {
  content: none;
}

.gallery-top .swiper-button-next::before,
.gallery-top .swiper-button-prev::before {
  font-size: rem(30px);
}

.gallery-top .swiper-button-next,
.gallery-top .swiper-button-prev {
  width: rem(40px);
  height: rem(40px);
  color: var(--accent-color);
  background-color: var(--light-divider-color);
}

.gallery-top .swiper-pagination {
  color: var(--accent-color);
  background-color: var(--light-divider-color);
  padding: 5px;
  width: rem(40px);
  height: rem(30px);
  left: 50%;
  transform: translateX(-50%);
}

.gallery-thumbs .swiper-button-next::after,
.gallery-thumbs .swiper-button-prev::after {
  content: none;
}

.gallery-thumbs .swiper-button-next,
.gallery-thumbs .swiper-button-prev {
  width: rem(20px);
  height: rem(20px);
  color: var(--accent-color);
  background-color: var(--light-divider-color);
  transform: translateY(50%);
}

.gallery-thumbs .swiper-button-next::before,
.gallery-thumbs .swiper-button-prev::before {
  font-size: rem(20px);
}
