.uv-filters__carts {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  gap: rem(24px);
}

.uv-filters__cart {
  width: 100%;

  @include min576 {
    width: item-base(2,24px);
  }

  @include min768 {
    width: item-base(3,24px);
  }
}
