.water-disinfection {
  background: url('../img/backgrounds/hexagons-bg.svg') no-repeat center/cover var(--light-divider-color);
}

.water-disinfection__content {
  display: flex;
  flex-wrap: wrap;
}

.water-disinfection__box {
  width: item-base(2, 0px);
}

.water-disinfection__video {
  display: flex;
  align-items: flex-end;
}

.water-disinfection__stages {
  padding: rem(20px);
}

.water-disinfection__title.section-title {
  margin-bottom: rem(16px);

  @include min768 {
    margin-bottom: rem(24px);
  }
}

.water-disinfection__subtitle {
  font-size: rem(20px);
  text-align: center;
  margin-bottom: rem(14px);
  font-weight: 500;
}

.water-disinfection__list-head {
  font-size: rem(16px);
  font-weight: 500;
  color: var(--dark-primary-color);

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.water-disinfection__item {
  &:not(:last-child) {
    margin-bottom: rem(10px);
  }
}

.water-disinfection__img {
  background-color: var(--light-divider-color);
  border: 1px solid var(--divider-color);

  img{
    mix-blend-mode: darken;
  }
} 