@font-face {
	font-family: 'Oswald-Regular';
	font-display: swap;
	font-style: normal;
	src:
	url(../font/Oswald-Regular.woff) format('woff'),
		url(../font/Oswald-Regular.woff2) format('woff2'),
		url(../font/Oswald-Regular.ttf) format('truetype'),
		url(../font/Oswald-Regular.eot) format('eot');
		
}

@font-face {
	font-family: 'Oswald-Light';
	font-display: swap;
	font-style: normal;
	src:
		url(../font/Oswald-Light.woff) format('woff'),
		url(../font/Oswald-Light.woff2) format('woff2'),
	 	url(../font/Oswald-Light.ttf) format('truetype'),
		url(../font/Oswald-Light.eot) format('eot');
}

@font-face {
	font-family: 'Oswald-Medium';
	font-display: swap;
	font-style: normal;
	src:
		url(../font/Oswald-Medium.woff) format('woff'),
		url(../font/Oswald-Medium.woff2) format('woff2'),
	 	url(../font/Oswald-Medium.ttf) format('truetype'),
		url(../font/Oswald-Medium.eot) format('eot');
}

@font-face {
	font-family: 'Oswald-Bold';
	font-display: swap;
	font-style: normal;
	src:
		url(../font/Oswald-Bold.woff) format('woff'),
		url(../font/Oswald-Bold.woff2) format('woff2'),
		url(../font/Oswald-Bold.ttf) format('truetype'),
		url(../font/Oswald-Bold.eot) format('eot');
}

@font-face {
	font-family: 'dynarshadow-bold';
	font-display: swap;
	font-style: normal;
	src:
		url(../font/dynarshadow-bold.woff) format('woff'),
		url(../font/dynarshadow-bold.woff2) format('woff2'),
		url(../font/dynarshadow-bold.ttf) format('truetype'),
		url(../font/dynarshadow-bold.eot) format('eot');
}