@font-face {
	font-family: 'icons';
	font-display: swap;
	src:
		url('../font/icons.ttf') format('truetype'),
		url('../font/icons.eot') format('eot'),
		url('../fonts/icons.woff') format('woff'),
		url('../fonts/icons.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"],
[class*=" _icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}

._icon-paperplane:before {
  content: "\e912";
}
._icon-youtube:before {
  content: "\e900";
}
._icon-gear:before {
  content: "\e901";
}
._icon-whatsapp:before {
  content: "\e90e";
}
._icon-viber:before {
  content: "\e90f";
}
._icon-play-outline:before {
  content: "\e90d";
}
._icon-cheveron-left:before {
  content: "\e90c";
}
._icon-icon-pdf:before {
  content: "\e90b";
}
._icon-close:before {
  content: "\e90a";
}
._icon-cheveron-right:before {
  content: "\e909";
}
._icon-star:before {
  content: "\e908";
}
._icon-arrow-down:before {
  content: "\e902";
}
._icon-arrow-right:before {
  content: "\e903";
}
._icon-checkmark:before {
  content: "\e904";
}
._icon-email:before {
  content: "\e905";
}
._icon-location:before {
  content: "\e906";
}
._icon-mobile:before {
  content: "\e907";
}
._icon-phone:before {
  content: "\e910";
}
._icon-user:before {
  content: "\e911";
}