@mixin min1200 {
	@media all and (min-width: 1200px) {
		@content;
	}
}

@mixin max1199 {
	@media all and (max-width: 1199px) {
		@content;
	}
}

@mixin min768-max1199 {
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		@content;
	}
}

@mixin min992 {
	@media all and (min-width: 992px) {
		@content;
	}
}

@mixin max991 {
	@media all and (max-width: 991px) {
		@content;
	}
}

@mixin min768 {
	@media all and (min-width: 768px) {
		@content;
	}
}

@mixin max767 {
	@media all and (max-width: 767px) {
		@content;
	}
}

@mixin min576-max767 {
	@media screen and (min-width: 576px) and (max-width: 767px) {
		@content;
	}
}

@mixin min576-max1199 {
	@media screen and (min-width: 576px) and (max-width: 1199px) {
		@content;
	}
}

@mixin min576 {
	@media all and (min-width: 576px) {
		@content;
	}
}

@mixin max575 {
	@media all and (max-width: 575px) {
		@content;
	}
}

@mixin any-hover {
	@media (any-hover: hover) {
		@content;
	}
}