:root {
    --main-text-color: #2b2b2b;
    --secondary-text: #757575;

    --accent-color: #2196f3;

    // --light-primary-color: #f0f9ff;
    --light-primary-color: rgba(33, 150, 243, 0.05);
    --primary-color: #0c84e4;
    --dark-primary-color: #19588a;
    --divider-color: #e8e8e8;
    --light-divider-color: #fafafa;

    --white-color: #ffffff;

    --main-font: 'Oswald', sans-serif;
}

$base-size: 16px;
$baze-line: 1.5;

$minWidth: 320px;
$maxWidth: 1920px;

$maxWidthContainer: 1230px;