.actual-wrap {
    display: flex;
    column-gap: 24px;
}

.actual__item {
    display: flex;
    flex-direction: column;
    border-top-right-radius: 2rem 2rem;
    border-top-left-radius: 2rem 2rem;
    border-bottom-right-radius: 0.5rem 0.5rem;
    border-bottom-left-radius: 0.5rem 0.5rem;
    overflow: hidden;
    width: item-base(3, 24px);
    border: 1px solid var(--divider-color);
    box-shadow: -8px -8px 20px #FFFFFF, 8px 8px 20px rgba(0, 0, 0, 0.05);
}

.actual__img {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 380px;
    padding: 15px;
    background-image: url(../img/backgrounds/circuit-board-cart-bg.svg);
    background-color: var(--light-divider-color);

    img {
        width: auto;
        height: 100%;
    }
}

.actual-item__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

.actual-item__description {
    font-size: rem(16px);
    line-height: 1.7;
    margin-bottom: rem(24px);
    flex-grow: 1;
}

.actual-item__text:not(:last-child) {
    margin-bottom: rem(5px);
}

.actual-item__btn {
    max-width: 270px;
}