.footer-main {
    padding-top: 64px;
    padding-bottom: 32px;
    background-image: url('../img/backgrounds/oblique-lines-bg.svg');
    background-repeat: no-repeat;
    background-position: bottom center;

    &__container {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
}

.footer-menu__list {
    display: block;

    &:not(:last-child) {
        margin-bottom: rem(12px);
    }

    .emphasis::after,
    .link-active::after {
        background-color: var(--main-text-color);
    }
}

.footer-menu__link {
    padding-bottom: 5px;
    font-size: 16px;
}

.footer-main__address {
    font-style: normal;
    max-width: rem(220px);
    width: 100%;
}

.address__item:not(:last-child) {
    margin-bottom: rem(12px);
}

.address__link {
    display: inline-flex;
    align-items: center;
    transition: color .3s ease;

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    &::before {
        margin-right: 10px;
    }
}

.footer-bottom {
    background-color: var(--primary-color);
    padding-top: 16px;
    padding-bottom: 16px;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--white-color);
    }
}

.footer {
    .logo-box {
        display: flex;
        flex-direction: column;
        row-gap: rem(12px);
    }

    .waterspace-logo {
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: rem(16px);
    
        &__wrap {
            display: flex;
            gap: 3px;
        }
        
        &__img {
            max-width: rem(170px);
        }
    }
}