.header {
    position: relative;
    border-bottom: 1px solid var(--divider-color);

    @include max767 {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 2;
    }

    &__container {
        padding-top: 16px;
        padding-bottom: 16px;
        transform: scale(1);
        transition: transform 0.3s ease;
    }
}

.header.nav-fix .header__container {
    transform: scale(0);
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(16px);
    flex-direction: column;

    @include min768 {
        gap: rem(24px);
        flex-direction: row;
    }
}

.header__top-inner {
    @include max767 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
}

.header__top-box {
    display: flex;
    gap: rem(12px);
    width: 100%;

    @include min576 {
        gap: rem(24px);
    }

    @include min768 {
        width: auto;
    }
}

.header__contacts {
    display: flex;
    align-items: baseline;
    gap: rem(12px);
    flex: 1 1 auto;
    justify-content: flex-start;

    @include min576 {
        gap: rem(24px);
    }

    @include min768 {
        justify-content: flex-end;
    }
}

.contacts__list {
    display: flex;
    flex-direction: column;
    gap: rem(12px);
}

.contacts__link,
.contacts__email {
    display: inline-flex;
    align-items: center;
    transition: color 0.3s ease;
    
    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    &::before {
        margin-right: 10px;
    }

    @media (max-width: 390px) {
        font-size: 13px;
    }
}

.contacts__email::before {
    padding-top: 4px;
}

.header__main {
    position: relative;
    background-color: var(--primary-color);

    @include min768 {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.header.nav-fix .header__main {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 2;
}

.navigation {
    @include max767 {
        // position: fixed;
        // background-color: var(--primary-color);
        // width: 100%;
        // height: 100%;
        // top: 0;
        // left: 0;
    }
}

.navigation__list {
    display: flex;
    align-items: center;
    gap: rem(32px);
}

.navigation__item {
    position: relative;

    &:hover > .menu-arrow::before,
    &:focus > .menu-arrow::before{
        transform: rotate(180deg);
    }
}

.navigation__link {
    display: inline-flex;
    color: var(--white-color);
    font-size: rem(18px);
    padding-top: 7px;
    padding-bottom: 7px;
}

.menu-item {
    display: flex;
    align-items: baseline;
    gap: 5px;
}

.menu-arrow {
    flex: 0 0 20px;
    height: 20px;

    &::before {
        transition: transform 0.3s ease;
        color: var(--white-color);
    }
}

.header__languages {
    display: flex;
    flex-direction: column;
    gap: rem(12px);
}

.languages__link {
    text-transform: uppercase;
    transition: color 0.3s ease;
    
    &:focus {
        color: var(--accent-color);
    }

    @include any-hover {
        &:hover {
            color: var(--accent-color);
        }
    }

    @media (max-width: 390px) {
        font-size: 13px;
    }
}

.submenu-list {
    // position: relative;

    @include min768 {
        position: absolute;
        min-width: 215px;
        left: 0;
        top: 100%;
        transform: translate(0,20px);
        visibility: hidden;
        pointer-events: none;
        opacity: 0;
        transition: opacity .3s ease,
                    transform .3s ease;
                    box-shadow: 0 8px 8px rgb(0 0 0 / 25%), 0 0 2px rgb(0 0 0 / 25%);
        z-index: 5;
    }

    // position: absolute;
    // min-width: 215px;
    // left: 0;
    // top: 100%;
    // transform: translate(0,20px);
    // visibility: hidden;
    // pointer-events: none;
    // opacity: 0;
    // transition: opacity .3s ease,
    //             transform .3s ease;
    //             box-shadow: 0 8px 8px rgb(0 0 0 / 25%), 0 0 2px rgb(0 0 0 / 25%);
    // z-index: 5;

    &__item {
        color: var(--white-color);
        font-size: rem(18px);
        background-color: var(--primary-color);
        
        & > .menu-arrow {
            margin-right: 5px;
        }
    }

    &__link {
        display: flex;
        width: 100%;
        padding: 5px;
        background-color: transparent;
        transition: background-color .3s ease;
        
        &:focus {
            background-color: rgba(255,255,255,0.2);
        }

        @include any-hover {
            &:hover {
                background-color: rgba(255,255,255,0.2);
            }
        }
    }
}

.submenu-list__item {
    position: relative;
    
    &:focus > .menu-arrow::before{
        transform: rotate(-90deg);
    }

    @include any-hover {
        &:hover > .menu-arrow::before {
            transform: rotate(-90deg);
        }
    }
}

.submenu:hover .submenu-list,
.submenu:focus .submenu-list {
    @include min768 {
        display: block;
        visibility: visible;
        pointer-events: auto;
        opacity: 1;
        transform: translate(0,0);
        
    }

    // display: block;
    // visibility: visible;
    // pointer-events: auto;
    // opacity: 1;
    // transform: translate(0,0);
}

// @include any-hover {
//     .submenu:hover .submenu-list {
//         display: block;
//         visibility: visible;
//         pointer-events: auto;
//         opacity: 1;
//         transform: translate(0,0);
//     }
// }

.sub-submenu-list {

    @include min768 {
        position: absolute;
        min-width: rem(185px);
        left: 100%;
        top: 0;
        transform: translate(0,20px);
        visibility: hidden;
        pointer-events: none;
        opacity: 0;
        transition: opacity .3s ease,
                    transform .3s ease;
        box-shadow: 0 8px 8px rgb(0 0 0 / 25%), 0 0 2px rgb(0 0 0 / 25%);
        z-index: 6;
    }

    // position: absolute;
    // min-width: rem(185px);
    // left: 100%;
    // top: 0;
    // transform: translate(0,20px);
    // visibility: hidden;
    // pointer-events: none;
    // opacity: 0;
    // transition: opacity .3s ease,
    //             transform .3s ease;
    // box-shadow: 0 8px 8px rgb(0 0 0 / 25%), 0 0 2px rgb(0 0 0 / 25%);
    // z-index: 6;

    &__item {
        background-color: var(--primary-color);
    }

    &__link {
        display: flex;
        width: 100%;
        padding: 5px;
        background-color: transparent;
        transition: background-color .3s ease;

        &:focus {
            background-color: rgba(255,255,255,0.2);
        }

        @include any-hover {
            &:hover {
                background-color: rgba(255,255,255,0.2);
            }
        }
    }
}

.sub-submenu:hover .sub-submenu-list,
.sub-submenu:focus .sub-submenu-list {
    @include min768 {
        visibility: visible;
        pointer-events: auto;
        opacity: 1;
        transform: translate(0,0);
    }

    // visibility: visible;
    // pointer-events: auto;
    // opacity: 1;
    // transform: translate(0,0);
}

// @include any-hover {
//     .sub-submenu:hover .sub-submenu-list {
//         visibility: visible;
//         pointer-events: auto;
//         opacity: 1;
//         transform: translate(0,0);
//     }
// }

.menu-button__close {
    width: rem(40px);
    height: rem(40px);
    @include min768 {
        display: none;
    }
}

.menu-button__open {
    width: rem(40px);
    height: rem(40px);
    @include min768 {
        display: none;
    }
}