.hero {
  background-image: url('../img/backgrounds/hexagons-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--light-divider-color);
}

.hero__container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.hero__content {
  max-width: rem(750px);
  margin: 0 auto;
}

.hero__title {
  text-align: center;
  margin-bottom: rem(18px);
  font-size: rem(18px);

  @include min768 {
    margin-bottom: rem(24px);
    font-size: rem(42px);
  }
}

.hero__waterspace {
  &:not(:last-child) {
    margin-bottom: rem(12px);

    @include min768 {
      // max-width: rem(650px);
      margin: 0 auto;
      margin-bottom: rem(16px);
    }
  }
}

.hero__undertitle {
  max-width: rem(650px);
  margin: 0 auto;
  text-align: center;
  font-size: rem(24px);
}

.hero__images {
  flex: 0 0 rem(403px);
  height: 403px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--divider-color);
  border-radius: 4px;
}

.images-hero__item {
  padding: 15px;
  background-color: var(--light-divider-color);
}

.swiper {
  width: rem(400px);
  height: rem(400px);
}