.fadeIn {
	animation-name: fadeIn;
	animation-duration: 0.8s;
	animation-fill-mode: both;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.fadeOut {
	animation-name: fadeOut;
	animation-duration: 0.8s;
	animation-fill-mode: both;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes double-pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }

  2% {
    transform: scale3d(1.02, 1.02, 1.02);
    box-shadow: -8px -8px 20px #FFFFFF, 8px 8px 20px rgba(0, 0, 0, 0.25);
  }

  4% {
    transform: scale3d(1, 1, 1);
    box-shadow: -8px -8px 20px #FFFFFF, 8px 8px 20px rgba(0, 0, 0, 0.05);
  }

  6% {
    transform: scale3d(1.02, 1.02, 1.02);
    box-shadow: -8px -8px 20px #FFFFFF, 8px 8px 20px rgba(0, 0, 0, 0.25);
  }

  8% {
    transform: scale3d(1, 1, 1);
    box-shadow: -8px -8px 20px #FFFFFF, 8px 8px 20px rgba(0, 0, 0, 0.05);
  }

  100% {
    transform: scale3d(1, 1, 1);
    box-shadow: -8px -8px 20px #FFFFFF, 8px 8px 20px rgba(0, 0, 0, 0.05);
  }
}

.animate {
  animation-duration: 1s;
  animation-fill-mode: both;
  opacity: 0;
}

@keyframes backInLeft {
  0% {
    transform: translateX(-2000px) scale(.7);
    opacity: .7;
  }
  80% {
    transform: translateX(0) scale(.7);
    opacity: .7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.backInLeft.show {
  animation-name: backInLeft;
}

@keyframes backInRight {
  0% {
    transform: translateX(2000px) scale(.7);
    opacity: .7;
  }

  80% {
    transform: translateX(0) scale(.7);
    opacity: .7;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.backInRight.show {
  animation-name: backInRight;
}