.breadcrumb {
  padding: 5px 0;
  margin-left: 3px;
  margin-right: 3px;
}

.breadcrumb__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 5px;
}

.breadcrumb__item {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  column-gap: 5px;
  font-size: 13px;

  @include min768 {
    font-size: 14px;
  }
}

.breadcrumb__link,
.breadcrumb__text {
  padding: 5px 0;
  
}
  
.breadcrumb__text {
  color: var(--primary-color);
}

