.button {
	position: relative;
	background-color: var(--accent-color);
	color: var(--white-color);
	font-size: rem(18px);
	padding: 5px;
	min-height: rem(48px);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	transition: background-color 0.3s ease 0.6s,
							letter-spacing 0.3s ease 0.6s;
	cursor: pointer;

	&:focus {
		background-color: var(--primary-color);
	}

	&:hover {
		background-color: var(--primary-color);
		letter-spacing: 0.05em;

		span:nth-child(1) {
			transform: scaleX(1);
			transform-origin: right;
		}

		span:nth-child(2) {
			transform: scaleX(1);
			transform-origin: left;
		}

		span:nth-child(3) {
			transform: scaleY(1);
			transform-origin: top;
		}

		span:nth-child(4) {
			transform: scaleY(1);
			transform-origin: top;
		}

		span:nth-child(5) {
			transform: scaleX(1);
			transform-origin: left;
		}

		span:nth-child(6) {
			transform: scaleX(1);
			transform-origin: right;
		}
	}

	span {
		display: block;
		position: absolute;
		background-color: #fff;

		&:nth-child(1) {
			left: 0;
			top: 2px;
			width: 50.5%;
			height: 1.5px;
			transform-origin: left;
			transform: scaleX(0);
			transition: transform 0.3s ease;
		}

		&:nth-child(2) {
			right: 0;
			top: 2px;
			width: 50.5%;
			height: 1.5px;
			transform-origin: right;
			transform: scaleX(0);
			transition: transform 0.3s ease;
		}

		&:nth-child(3) {
			right: 2px;
			top: 0;
			width: 1.5px;
			height: 100%;
			transform-origin: bottom;
			transform: scaleY(0);
			transition: transform 0.3s ease;
			transition-delay: 0.3s;
		}

		&:nth-child(4) {
			left: 2px;
			top: 0;
			width: 1.5px;
			height: 100%;
			transform-origin: bottom;
			transform: scaleY(0);
			transition: transform 0.3s ease;
			transition-delay: 0.3s;
		}

		&:nth-child(5) {
			left: 0;
			bottom: 2px;
			width: 50.5%;
			height: 1.5px;
			transform-origin: right;
			transform: scaleX(0);
			transition: transform 0.3s ease;
			transition-delay: 0.6s;
		}

		&:nth-child(6) {
			right: 0;
			bottom: 2px;
			width: 50.5%;
			height: 1.5px;
			transform-origin: left;
			transform: scaleX(0);
			transition: transform 0.3s ease;
			transition-delay: 0.6s;
		}
	}
}

.button-simple {
	border: none;
	background-color: var(--divider-color);
	font-size: rem(14px);
	border-radius: 3px;
	line-height: 1.5;
	letter-spacing: .03em;
	color: currentColor;
	transition: color .3s ease,background-color .3s ease,box-shadow .3s ease;
	padding: 5px 10px;
	cursor: pointer;

	@media (any-hover: hover) {
		&:hover {
			color: var(--white-color);
    	background-color: var(--accent-color);
    	box-shadow: 0px 3px 1px rgb(0 0 0 / 10%), 0px 1px 2px rgb(0 0 0 / 8%), 0px 2px 2px rgb(0 0 0 / 12%);
		}
	}

	&.button-simple-active {
		color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgb(0 0 0 / 10%), 0px 1px 2px rgb(0 0 0 / 8%), 0px 2px 2px rgb(0 0 0 / 12%);
	}
}