.dropdown {
  position: relative;

  @media (any-hover: hover) {
    &:hover {
      .dropdown__list {
        transform: translate(0,0);
        visibility: visible;
        pointer-events: auto;
        opacity: 1;
        color: var(--white-color);
      }

      .dropdown__btn {
        color: var(--white-color);
        background-color: var(--accent-color);
      }

      .dropdown__btn::before {
        transform: rotate(-180deg);
      }
    }
  }

  &._dropdown-open {
  
      .dropdown__list {
        transform: translate(0,0);
        visibility: visible;
        pointer-events: auto;
        opacity: 1;
        color: var(--white-color);
      }

      .dropdown__btn {
        color: var(--white-color);
        background-color: var(--accent-color);
      }

      .dropdown__btn::before {
        transform: rotate(-180deg);
      }
    }
}

.dropdown__list {
  position: absolute;
  background-color: var(--accent-color);
  padding: 10px;
  flex: 1 1 100%;
  left: 0;
  top: 100%;
  transform: translate(0,10px);
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: opacity .3s ease, transform .3s ease, visibility .3s ease;
  box-shadow: 0 8px 8px rgb(0 0 0 / 25%), 0 0 2px rgb(0 0 0 / 25%);
  overflow-x: auto;
  z-index: 2;
}

.dropdown__item {
  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.dropdown__link {
  padding: 5px 0;
  font-size: rem(14px);
}