.numbered-list {
  
  &__item{ 
    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }
}

.square-list__item {
  &__item{ 
    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }
}

.list-parameter {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
  padding-left: rem(24px);
}

.list-parameter__item {
  display: flex;
  align-items: baseline;
}