.popup-order-goods {
  .form-popup {
    gap: rem(16px);
  }
}

.form-block__input-goods {
  width: 100%;
  min-height: rem(88px);
  padding: 3px 5px;
  border: transparent;
  background-color: transparent;
  outline: transparent;
  resize: none;
  text-align: center;
  font-family: var(--main-font);
  font-size: rem(16px);
  font-weight: 500;
  color: var(--dark-primary-color);

  @include min576 {
    font-size: rem(18px);
    min-height: rem(68px);
  }
}