.table-wrap {
  display: block;
  overflow-x: auto;
}

.simple-table {
  width: 100%;
  min-width: rem(500px);
  font-size: rem(14px);
  border-collapse: collapse;
  border: 1px solid var(--secondary-text);
}

.simple-table__head {
  padding: 3px 5px;
  border: 1px solid var(--secondary-text);
}

.simple-table__sell {
  padding: 3px 5px;
  border: 1px solid var(--secondary-text);
}
