.subcategory {
  display: flex;
  justify-content: center;
  width: 100%;
}

.hero-actions__subcategory.fix {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: var(--white-color);
}

.subcategory__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: rem(10px);
  row-gap: rem(12px);
}

.subcategory__link-arrow {
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;

  &::before {
    font-size: rem(12px);
    margin-left: 7px;
    transition: transform 0.3s ease;
  }
}

.item-subcategory__dropdown-list {
  min-width: rem(143px);
  max-height: rem(240px);
  overflow-y: auto;

  @include min768 {
    min-width: rem(158px);
  }
}

