.subcategory {
  display: flex;
  justify-content: center;
}

.subcategory__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: rem(10px);
  row-gap: rem(12px);
}

.item-subcategory {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--divider-color);
  padding: 5px 10px;
  font-size: rem(14px);
	border-radius: 3px;
	line-height: 1.5;
	letter-spacing: .03em;
	color: currentColor;
	transition: color .3s ease,background-color .3s ease,box-shadow .3s ease;

  &.item-subcategory-active {
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgb(0 0 0 / 10%), 0px 1px 2px rgb(0 0 0 / 8%), 0px 2px 2px rgb(0 0 0 / 12%);

    .item-subcategory__button {
      color: currentColor;
    }
  }
}

.item-subcategory__button {
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;

  &::before {
    font-size: 12px;
  }
}

.item-subcategory__dropdown-list {
  min-width: rem(148px);
  max-height: rem(240px);
  overflow-y: auto;

  @include min768 {
    min-width: rem(164px);
  }
}

